---
layout: compress
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US"
  itemscope="" itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8"/>
    <meta name="description" content="{{ page.description }}" />
    <meta name="keywords" content="{{ page.keywords | join:', ' | xml_escape }}" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  <body>
    <section>
      <header>
        <a href="/about.html">
          <img src="/images/my_photo.png" class="photo" alt="tomato" itemprop="image"/>
        </a>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/my-open-source.html">My open source</a></li>
          </ul>
        </nav>
        <nav>
          <ul>
            <li><a href="https://t.me/ilaletdinov">Telegram</a></li>
            <li><a href="{{ "/rss.xml" | prepend: site.baseurl }}">RSS</a></li>
            <li><a href="mailto:a.ilaletdinov@yandex.ru">a.ilaletdinov@yandex.ru</a></li>
          </ul>
        </nav>
        <form method="get" action="https://www.google.com/search">
          <input name="sitesearch" value="ilaletdinov.ru" type="hidden"/>
          <input type="text" name="q" placeholder="Search" autocomplete="off" size="30"/>
        </form>
      </header>
      {{ content }}
      <footer>
        (c)
        <span itemscope="" itemtype="http://schema.org/Person">
          <span itemprop="name">Almaz Ilaletdinov</span>
        </span>
        <br/>
        2023-2024
      </footer>
    </section>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();
      for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
      k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(97558973, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
      });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/97558973" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
  </body>
</html>
